<!--
File Name: Views/Books/Edit.cshtml
Description: Edit view for Book Model
Author: Payal Swarnkar, Savitha Kulaolinathan
-->
@using Microsoft.EntityFrameworkCore
@model FinalProject.Models.Book
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="backgroundImage">
    <h1 class="text-md-left p-4" style="color: #2E4756E6; margin-left: 115px;">Edit Book</h1>
    <form method="post" class="container p-md-5  justify-content-center align-items-center font-weight-bold w-75 rounded bg-white  shadow  border border-info " asp-action="Edit">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="Title" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <input asp-for="Title" class="form-control" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        @if (Model.Image != null)
        {
            <div class="form-group row ml-2">
                <div class="col-7 offset-4">
                    <img src="@Model.Image" alt="Cover page for @Model.Title" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group row ml-2">
                <div class="col-7 offset-4 default-image">
                    <p>No image provided.</p>
                </div>
            </div>
        }
        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="Image" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <input asp-for="Image" class="form-control" />
            </div>
        </div>

        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="Subtitle" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <textarea asp-for="Subtitle" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="Authors" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <input asp-for="Authors" class="form-control" />
            </div>
            <span asp-validation-for="Authors" class="text-danger"></span>
        </div>

        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="Description" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
        </div>

        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="ISBN13" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <input asp-for="ISBN13" class="form-control" />
            </div>
        </div>

        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="MoreInfoUrl" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MoreInfoUrl" class="form-control" />
            </div>
            <div class="col-1">
                <a href="@Model.MoreInfoUrl" target="_blank" class="btn btn-secondary px-4" style="margin-left:10px;">View</a>
            </div>
        </div>
        
        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="Year" class="col-form-label"></label>
            </div>
            <div class="col-7">
                <input asp-for="Year" class="form-control" />
            </div>
        </div>


        <div class="form-group row ml-2">
            <div class="col-4">
                <label asp-for="Status" class="col-form-label"></label>
            </div>

            @if (Model.Status.Equals("1"))
            {
                <div class="col-5">
                    <input readonly asp-for="Status" value="@Enum.Parse(typeof(Book.EStatus), Model.Status)" class="form-control" />
                </div>
                <div class="col-2">
                    <div class="btn btn-secondary" onclick="CheckInBook('@Model.Id')">Check In</div>
                </div>
            }
            else
            {
                <div class="col-7">
                    <input readonly asp-for="Status" value="@Enum.Parse(typeof(Book.EStatus), Model.Status)" class="form-control" />
                </div>
            }
        </div>


        @if (Model.UserId != null)
        {
            <div class="form-group row ml-2">
                <div class="col-4">
                    <label asp-for="UserId" class="col-form-label"></label>
                </div>
                <div class="col-7">
                    <input readonly asp-for="UserId" class="form-control" />
                </div>
            </div>

            <div class="form-group row ml-2">
                <div class="col-4">
                    <label asp-for="CheckOutDate" class="col-form-label"></label>
                </div>
                <div class="col-7">
                    <input readonly asp-for="CheckOutDate" class="form-control" />
                </div>
            </div>

            <div class="form-group row ml-2">
                <div class="col-4">
                    <label asp-for="DueDate" class="col-form-label"></label>
                </div>
                <div class="col-7">
                    <input asp-for="DueDate" class="form-control" />
                </div>
            </div>

        }



        <div class="form-group row ml-2">
            <div class="col-7 offset-4">
                <partial name="_EditAndBackTolistButton" />
            </div>
        </div>

    </form>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>

        function CheckInBook(id) {
            var params = {id: id};
            var returnUrl = '@Url.Action("CheckInBook","Books")';
            var indexUrl = '@Url.Action("Index","Books")';
            $.ajax({
                url: returnUrl,
                method: 'POST',
                data: params,
                success: function () {
                    window.location.href = indexUrl;
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }

    </script>
}